<div class="container">
    <!-- First Grid -->
    <div class="activity_courses row justify-content-center">
        <div class="col-12 col-lg-10">
            <!-- Header Row -->
            <h2 class="display-4 text-center fw-bold mb-4 mt-3">Kurse</h2>

            <div class="topbar row border-bottom border-3 fw-bold d-none d-lg-flex py-3">
                <div class="col-2 d-flex align-items-center">Kurs</div>
                <div class="col-2 d-flex align-items-center">Veranstaltungsort</div>
                <div class="col-2 d-flex align-items-center">Adresse</div>
                <div class="col-2 d-flex align-items-center">Öffentlich erreichbar?</div>
                <div class="col-2 d-flex align-items-center">Kursleiter</div>
                <div class="col-2 d-flex align-items-center">Alle Termine</div>
            </div>
            
            <!-- First Grid Data Rows -->
            <div class="data-rows">
                <div class="row border-bottom py-2" *ngFor="let course of storeService.courses">
                    <div class="col-12 col-lg-2 d-flex align-items-center fw-bold">{{course.name}}</div>
                    <div class="col-12 col-lg-2 d-flex align-items-center">{{course.eventLocation.name}}</div>
                    <div class="col-12 col-lg-2 d-flex align-items-center">
                        <i class="bi bi-geo-alt-fill me-2"></i>

                        {{course.eventLocation.address}}


                    </div>
                    <div class="col-12 col-lg-2 d-flex align-items-center">{{course.eventLocation.venueByPublicTansport == true ? "Ja" : "Nein"}}</div>
                    <div class="col-12 col-lg-2 d-flex align-items-center ">
                        <i class="bi bi-person-fill me-2"></i>{{course.instructor}}

                    </div>
                    <div class="col-12 col-lg-2 d-flex align-items-center">
                        <ul class="mb-0 list-unstyled">
                            <li *ngFor="let date of course.dates" class="mb-1 separate_dates">
                                <span class="date-section">
                                    <i class="bi bi-calendar3 me-1"></i>
                                    <span class="fw-bold">{{date.begin | date:"MMM dd, yyyy"}}</span>
                                </span>
                                um
                                <span class="time-section">
                                    <i class="bi bi-clock me-1"></i>
                                    <span>{{date.begin | date:"HH:mm"}}</span>
                                </span>
                                -
                                <span class="time-section">
                                    <i class="bi bi-clock me-1"></i>
                                    <span>{{date.end | date:"HH:mm"}}</span>
                                </span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Anmeldungen Übersicht -->
    <div class="current_registrations row justify-content-center mt-4">
        <div class="col-12 col-lg-10">
            <h2 class="display-4 text-center fw-bold mb-4 mt-3">Anmeldungen</h2>

            <!-- Überschriften  -->
            <div class="topbar row border-bottom border-3 fw-bold d-none d-lg-flex" style="height: 50px;">
                <div class="col-3 d-flex align-items-center">Name</div>
                <div class="col-3 d-flex align-items-center">Geburtsdatum</div>
                <div class="col-3 d-flex align-items-center">Kurs</div>
                <div class="col-3 d-flex align-items-center">Aktionen</div>
            </div>
            
            <!-- Einzelne Anmeldungen zum Kurs -->
            <div class="data-rows">
                <div class="single_registration_data row border-bottom" *ngFor="let registration of storeService.registrations" style="height: 50px;">
                    <div class="loading-overlay" *ngIf="isDeleting(+registration.id)">
                        <div class="spinner"></div>
                    </div>
                    <div class="col-12 col-lg-3 d-flex align-items-center">{{registration.name}}</div>
                    <div class="col-12 col-lg-3 d-flex align-items-center">{{registration.birthdate}}</div>
                    <div class="col-12 col-lg-3 d-flex align-items-center">{{registration.course.name}}</div>
                    <div class="col-12 col-lg-3 d-flex align-items-center">
                        <button class="delete_given_registration btn btn-danger btn-sm" 
                                (click)="deleteRegistration(+registration.id)"
                                [disabled]="isDeleting(+registration.id)">
                            <i class="bi bi-trash me-1"></i>Abmelden
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dashboard_pagination row justify-content-center mt-5 mb-5">
    <div class="col-12 col-lg-10 text-center">
        <button class="btn mx-1 pagination-btn" 
                [ngClass]="page == storeService.currentPage ? 'active' : ''" 
                (click)="selectPage(page)" 
                type="button" 
                *ngFor="let page of returnAllPages()">
            {{page}}
        </button>
    </div>
    <p></p>
    <p></p>
    <p></p>
</div>