<div class="container">
    <!-- First Grid -->
    <div class="activity_courses row justify-content-center">
        <div class="col-12 col-lg-10">
            <!-- Header Row -->
            <div class="row border-bottom fw-bold d-none d-lg-flex py-3">
                <div class="col-2 d-flex align-items-center">Kurs</div>
                <div class="col-2 d-flex align-items-center">Veranstaltungsort</div>
                <div class="col-2 d-flex align-items-center">Adresse</div>
                <div class="col-2 d-flex align-items-center">Öffentlich erreichbar?</div>
                <div class="col-2 d-flex align-items-center">Kursleiter</div>
                <div class="col-2 d-flex align-items-center">Alle Termine</div>
            </div>
            
            <!-- Data Rows -->
            <div class="row border-bottom py-2" *ngFor="let course of storeService.courses">
                <div class="col-12 col-lg-2 d-flex align-items-center">{{course.name}}</div>
                <div class="col-12 col-lg-2 d-flex align-items-center">{{course.eventLocation.name}}</div>
                <div class="col-12 col-lg-2 d-flex align-items-center">{{course.eventLocation.address}}</div>
                <div class="col-12 col-lg-2 d-flex align-items-center">{{course.eventLocation.venueByPublicTansport == true ? "Ja" : "Nein"}}</div>
                <div class="col-12 col-lg-2 d-flex align-items-center">{{course.instructor}}</div>
                <div class="col-12 col-lg-2 d-flex align-items-center">
                    <ul class="mb-0 list-unstyled">
                        <li *ngFor="let date of course.dates" class="mb-1">
                            {{date.begin | date:"MMM dd, yyyy 'um' hh:mm a"}} - {{date.end | date:"MMM dd, yyyy 'um' hh:mm a"}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Grid -->
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-lg-10">
            <!-- Header Row -->
            <div class="row border-bottom fw-bold d-none d-lg-flex" style="height: 50px;">
                <div class="col-4 d-flex align-items-center">Name</div>
                <div class="col-4 d-flex align-items-center">Geburtsdatum</div>
                <div class="col-4 d-flex align-items-center">Kurs</div>
            </div>
            
            <!-- Data Rows -->
            <div class="row border-bottom" *ngFor="let registration of storeService.registrations" style="height: 50px;">
                <div class="col-12 col-lg-4 d-flex align-items-center">{{registration.name}}</div>
                <div class="col-12 col-lg-4 d-flex align-items-center">{{registration.birthdate}}</div>
                <div class="col-12 col-lg-4 d-flex align-items-center">{{registration.course.name}}</div>
            </div>
        </div>
    </div>
</div>


<div class="container">

  <div class="row justify-content-center">
      <div class="col-12 col-lg-10 text-center">
          <button [ngClass]="page == storeService.currentPage ? 'active' : ''" (click)="selectPage(page)" type="button" *ngFor="let page of returnAllPages()">{{page}}</button>
      </div>
  </div>
</div>